/* box sizes */
:root {
  --grid-column: repeat(12, calc((100% - (11* var(--gap))) / 12));
  --gap: 24px;
  --first-row: calc(7em - var(--gap));
  --margin: 0 var(--gap);
  --top: 30vh;
  /* --left: calc( ((100vw - (13 * var(--gap))) / 12) + ((100vw - (13 * var(--gap))) / 24) + var(--gap)); */
  --left: calc( ((100vw - (13 * var(--gap))) / 6) + var(--gap));
  --black: #1a1a1a;
  --yellow: #FFC700;
  --dgrey: #61676d;
  --lgrey: #d6e2f2;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 17px;
  color: #1a1a1a;
  color: var(--black);
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

/* html, body {
  height: 100%;
  width: 100%;
} */
  
*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

h1 {
  font-family: "Roboto";
  font-size: 8vw;
  font-weight: 900;
  line-height: 100%;
}

h3 {
  font-family: "Roboto";
  font-size: 1.2vw;
  font-weight: 300;
}

.subheader {
  margin-top: 3.5rem;
}

p, 
input,
textarea {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 170%;
}

/* .headers {
  font-family: "Roboto";
}

.body-font {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 170%;
} */

#nav {
  height: 7em;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 24px;
  margin: var(--margin);
  position: fixed;
  z-index: 3;
  font-size: 1em;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#nav .nav-child {
  margin: 0 3vw;
}

#nav a {
  font-family: "Roboto";
  font-size: 1rem;
}

#nav .last {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 100%;
}

#nav .invisible {
  visibility: hidden;
}

#nav #mini-connect {
  margin-left: auto;
}

#nav #hive-email {
  position: absolute;
  right: 0;
}

.container {
    height: 100vh ;
    max-width: 100vw;
    margin: 0 24px;
    margin: var(--margin);
    display: grid;
}

.columns {
    grid-template-columns: var(--grid-column);
    column-gap: var(--gap);
}

.rows {
  grid-template-rows: var(--first-row) repeat(5, calc(((100% - (var(--first-row) + var(--gap)) ) - (4* var(--gap))) / 5));
  row-gap: var(--gap);
}

.pink {
  background-color: pink;
}

.orange {
  background-color: salmon;
}

.center {
  align-self: center;
  justify-self: center;
}

.right {
  align-self: center;
  justify-self: end;
}

.ligth-grey {
  background-color: #d6e2f2;
  background-color: var(--lgrey);
  fill: #d6e2f2;
  fill: var(--lgrey);
}

.yellow-button {
  color: #FFC700;
  color: var(--yellow);
  fill: #FFC700;
  fill: var(--yellow);
  cursor: pointer;
}

.yellow-button:hover {
  color: #1a1a1a;
  color: var(--black);
  fill: #1a1a1a;
  fill: var(--black);
}

.dark-grey-button {
  color: #61676d;
  color: var(--dgrey);
  fill: #61676d;
  fill: var(--dgrey);
}

.dark-grey-button:hover {
  color: #FFC700;
  color: var(--yellow);
  fill: #FFC700;
  fill: var(--yellow);
  cursor: pointer;
}

#logo {
  height: 3rem;
  width: auto;
  grid-column: 1 / span 1;
}

#about {
  grid-column: 2 / span 1;
}

#work {
  grid-column: 3 / span 1;
}

#pyramid {
  max-width: 56vw;
  /* grid-area: 1 / 4 / 6 / 13;
  align-self: start;
  justify-self: end; */
  position: absolute;
  top: 0;
  right: calc(5vw + 24px);
}

#sticky-container {
  height: 270vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 24px;
}

#connect-wrapper {
  width: 31vw;
  position: absolute;
  position: sticky;
  z-index: 2;
  top: 30vh;
  left: 17vw;
}


a {
  text-decoration: none;
}

.about-grid {
  width: 35.5rem;
  grid-area: 1 / 7 / 7 / 12;
  display: grid;
  justify-self: center;
  --padding: 0 3.5em 0 0.5em;
}

#about-grid-1 {
  height: 60vh;
  grid-template-columns: 1fr 2rem;
  grid-template-rows: 2rem 26.5rem 2rem 1fr;
  align-self: end;
}

#about-grid-2 {
  height: 75vh;
  grid-template-columns: 1fr 2rem;
  grid-template-rows: 1fr 2rem 26.5rem 2rem;
  align-self: start;
}

#top-border {
  grid-area: 1 / 1 / 2 / span 2;
}

#right-border-1 {
  grid-area: 2 / 2 / 5 / 3;
}

#right-border-2 {
  grid-area: 1 / 2 / 4 / 3;
}

#bottom-border {
  grid-area: 4 / 1 / 5 / span 2;
}

#about-us-p {
  grid-area: 2 / 1 / 3 / 2;
  padding: var(--padding);
  font-size: 1rem;
}

#offer-p {
  grid-area: 3 / 1 / 4 / 2;
  padding: var(--padding);
  font-size: 1rem;
}




/* portfolio gallery */

#gallery-section {
  /* height: 500vh; */
  max-width: 100vw;
  margin: 0 24px;
  padding: 25vh 0;
  display: flex;
  flex-direction: column;
}

#gallery-section .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-block {
  height: 26.575vw;
  width: 100%;
  justify-content: center;
  transition: height 0.3s cubic-bezier(.42,.01,.27,1), transform 1s cubic-bezier(.42,.01,.27,1);
}

/* @keyframes resize {
  to {
    height: 100vh;
  }
} */

.project-block.max {
  height: 100vh;
  margin: 1vh 0;
}

.photo-wrapper {
  height: 26.575vw;
  width: 32.611vw;
  transition: transform 1s cubic-bezier(.42,.01,.27,1);
}

.left.hover {
  /* transform: scale3d(1.05,1.05,1.05) translateX(-.75vw); */
  transform: translateX(-2.174vw);
}

.right.hover {
  /* transform: scale3d(1.05,1.05,1.05) translateX(.75vw); */
  transform: translateX(2.174vw);
}

.photo-wrapper.left.big {
  transform: scale(1.3) translateX(-6vw);
}

.photo-wrapper.right.big {
  transform: scale(1.3) translateX(6vw);
}

.svg-photo {
  height: 100%;
  width: 86.667%;
  margin: 0 -23.332%;
}

image {
  cursor: pointer;
}

.inactive {
  pointer-events: none;
}

.arrow {
  /* height: 100%;
  width: 9.783vw; */
  z-index: 2;
}

.arrow.btn {
  height: 100%;
  width: 30%;
  z-index: 2;
}

.text-wrapper {
  height: 26.575vw;
  width: 15.218vw;
  position: relative;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  transition: transform 1s cubic-bezier(.42,.01,.27,1);
}

.arrow.txt {
  height: 100%;
  width: 64.28%;
}

.arrow.txt.right {
  margin-right: -13.142%;
}

.arrow.txt.left {
  margin-left: -13.142%;
}

.project-title-box {
  /* width: 7.435vw; */
  width: 48.856%;
  height: fit-content;
  /* margin: auto 0; */
  /* line-height: 1.68vw; */
  line-height: 150%;
}

.title-right {
  text-align: right;
  margin: 0;
}

.title-left {
  text-align: left;
  margin: 0;
}

/* .transition-delay {
  transition-delay: 0.5s;
} */

.inactive {
  height: 100%;
  width: 100%;
  transition: opacity .5s;
}

.inactive.hidden {
  opacity: 0;
}

#gallery-section .description{
  width: 23rem;
  margin-top: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s .5s;
}

/* #gallery-section .description.hidden {
  visibility: hidden;
} */

#gallery-section .description.first {
  right: 3.5vw;
}

#gallery-section .description.last {
  left: 3.5vw;
}

#gallery-section .description.visible {
  visibility: visible;
  opacity: 1;
}

/* CONTACT PAGE */

#contact-section {
  display: flex;
  align-items: center;
  /* align-content: center; */
  justify-content: space-between;
}

#contact-header-wrapper {
  height: fit-content;
  width: 24vw;
  margin-left: 17vw;
  margin-right: 5vw;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

#ve {
  color: #d6e2f2;
  color: var(--lgrey);
  opacity: 1;
  transition: opacity 2s cubic-bezier(.42,.01,.27,1);
  /* transition: opacity 2s ease-in-out; */
}

#ve.animate {
  opacity: 0;
}

#form-wrapper {
  height: fit-content;
  width: fit-content;
  margin-right: 17vw;
  /* grid-area: 1 / 7 / 7 / 12;
  justify-self: start; */
  display: flex;
  align-items: center;
}

#form {
  max-width: 390px;
  margin-right: 2.5vw;
  padding-top: 5px;
  /* margin: 0 0 135px 33.7838%; */
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.25s 0.5s;
}

#form p {
  float: left;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 5px 0 0;
  user-select: none;
}

#form textarea {
  display: block;
  width: 100%;
  border: none;
  resize: none;
  height: 100px;
  font-size: 1rem;
  /* font-style: normal; */
  /* font-weight: 300;
  font-size: 12px; */
  padding: 8px 0 0 0;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  /* color: var(--black); */
  transition: border-color 0.35s;
  background: transparent;
}

#form input {
  border: none;
  width: 100%;
  padding: 0;
  font-size: 1rem;
  /* font-style: normal; */
  /* font-weight: 300;
  font-size: 12px; */
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  color: #61676d;
  color: var(--dgrey);
  transition: border-color 0.35s;
  background: transparent;
}

#form .input-block {
  margin: 0 0 10px;
  display: flex;
}


#form span {
  flex: 2;
  display: block;
  overflow: hidden;
  position: relative;
}

#form .border {
  padding: 0 0 2px 0;
}

#form .border:after {
  position: absolute;
  left: 0;
  content: '';
  height: 1px;
  width: 100%;
  bottom: 0;
  display: block;
  border-bottom: solid 2px #61676d;
  border-bottom: solid 2px var(--dgrey);
  transform: scaleX(0);
  transform-origin: 0 50%;
  /* transition: transform 0.7s cubic-bezier(0.190, 1.000, 0.220, 1.000); */
  transition: transform 0.7s cubic-bezier(.42,.01,.27,1);
}

#form .border.animate:after {
  transform: scaleX(1);
}

#form .filled {
  padding: 0 0 2px 0;
}

#form .filled:after {
  position: absolute;
  left: 0;
  content: '';
  height: 1px;
  width: 100%;
  bottom: 0;
  display: block;
  border-bottom: solid 2px #d6e2f2;
  border-bottom: solid 2px var(--lgrey);
}

#form .error {
  padding: 0 0 2px 0;
}

#form .error:after {
  position: absolute;
  left: 0;
  content: '';
  height: 1px;
  width: 100%;
  bottom: 0;
  display: block;
  border-bottom: solid 2px #ff5b00;
}

#description {
  display: flex;
  flex-direction: column;
}

#name.hidden, #company.hidden, #description.hidden, #budget.hidden, #timeframe.hidden, #email.hidden, #phone.hidden {
  opacity: 0;
}

#name, #company, #description, #budget, #timeframe, #email, #phone {
  /* opacity: 0; */
  transform: translateY(1vh) scale(0.6);
  transition: transform 0.6s 0.1s cubic-bezier(.42,.01,.27,1), opacity 0.4s 0.1s cubic-bezier(.42,.01,.27,1);
}

#name.animate, #company.animate, #description.animate, #budget.animate, #timeframe.animate, #email.animate, #phone.animate {
  opacity: 1;
  transform: translateY(0) scale(1);
}

*:focus {
  outline: none;
}

input,
textarea,
[contenteditable] {
  color: #61676d;
  color: var(--dgrey);
  caret-color: #FFC700;
  caret-color: var(--yellow);
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* ::-webkit-scrollbar-track { 
  -webkit-border-radius: 10px;
  border-radius: 10px;
} */

/* Handle */
::-webkit-scrollbar-thumb{
  background: var(--dgrey); 
  }

::-webkit-scrollbar-thumb:hover {
  /* -webkit-border-radius: 10px;
  border-radius: 10px; */
  background: var(--yellow); 
}

/* change later to be responsive, form too */
#form-submit {
  height: 366px;
  width: 136px;
}

#submit.disabled {
  fill: #d6e2f2;
  fill: var(--lgrey);
  /* pointer-events: none;
  cursor: default; */
}

#submit.active {
  fill: #FFC700;
  fill: var(--yellow);
  cursor: pointer;
  pointer-events: auto;
}

#submit.active:hover {
  fill: #1a1a1a;
  fill: var(--black);
}

/* MEDIA QUERY */

@media only screen and (max-width: 1550px) {
  #pyramid {
    max-width: 60vw;
    position: absolute;
    top: 0;
    right: 16px;
  }
}

@media only screen and (max-width: 1450px) {
  :root {
    --gap: 16px;
  }

  html {
    font-size: 14px;
  }

  h3 {
    font-size: 1rem;
  }

  #form-submit {
    height: 329px;
    /* margin-left: 40px; */
  }

}

@media only screen and (max-width: 1250px) {
  
  h3 {
    font-size: 1rem;
  }

  #contact-header-wrapper {
    height: fit-content;
    width: fit-content;
    margin-left: 12vw;
    margin-right: 7vw;
  }

  #form-wrapper {
    height: fit-content;
    width: fit-content;
    margin-right: 12vw;
    /* grid-area: 1 / 7 / 7 / 12;
    justify-self: start; */
    display: flex;
    align-items: center;
  }

  /* #form {
    margin-right: 7vh;
  } */

  #form .input-block {
    margin: 0 0 7px;
  }

}

@media only screen and (max-width: 1050px) {
  :root {
    --gap: 8px;
  }

  #nav .nav-child {
    margin: 0 2vw;
  }

  /* #form {
    margin-right: 7vh;
  } */

}