<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hive Folio</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- navigation -->
  <div id="nav" class="nav columns">
    <a href='/'><img id='logo' class='nav-child' src='/images/logo.svg'></a>
    <a href='/about' id='about' class="nav-child dark-grey-button">ABOUT US</a>
    <a href='/projects' id='work' class="nav-child dark-grey-button">PROJECTS</a>
    <a href='/contact' id='mini-connect' class="nav-child last yellow-button invisible">Let's<br> connect</a>
  </div>
  <!-- about us -->
  <div id='about-us' class="container columns rows">
    <div id="about-grid-1" class="about-grid">
      <div id="top-border" class="top-border ligth-grey"></div>
      <div id="right-border-1" class="ligth-grey"></div>
        <p id='about-us-p' class="about-text center">Rally is a small digital product studio in Salt Lake City, Utah. <br>
          <br>
          We're an experienced team of designers & developers, partnering with brands like Google, Nike, and National Geographic since 2011. We care deeply about what we do and have become experts in beautifully-designed software.
          <br><br>
          We are here to build a high-quality extension for brands to serve their consumers. We're not interested in fluff - we want to build useful tools that will keep people coming back.</p>
      </div>
  </div>
  <!-- services offered -->
<div id='offer' class="container columns rows">
  <div id="about-grid-2" class="about-grid">
    <div id="right-border-2" class="ligth-grey"></div>
    <div id="bottom-border" class="ligth-grey"></div>
      <p id='offer-p' class="about-text center">Rally is a small digital product studio in Salt Lake City, Utah. <br>
        <br>
        We're an experienced team of designers & developers, partnering with brands like Google, Nike, and National Geographic since 2011. We care deeply about what we do and have become experts in beautifully-designed software.
        <br><br>
        We are here to build a high-quality extension for brands to serve their consumers. We're not interested in fluff - we want to build useful tools that will keep people coming back.</p>
  </div>
</div>
</html>