<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hive Folio</title>
  <link display='block' href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;300&family=Roboto:wght@700&display=swap" as="font" type="font/woff2" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/about.css">
</head>
<body>
  <!-- navigation -->
  <nav>
    <a href='/about'>ABOUT US</a>
    <a href='/projects'>PROJECTS</a>
    <a href="/contact" class="contact-button">LET'S CONNECT</a>
    <a href='/'><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 239.43 150.9"><g id="logo"><polygon class="cls-1" points="68.58 131.62 62.18 131.62 62.18 19.52 68.58 19.52 68.58 72.09 100.75 72.09 100.75 41.54 107.09 41.54 107.09 109.41 100.75 109.41 100.75 79.17 68.58 79.17 68.58 131.62"/><polygon class="cls-1" points="169.01 109.58 162.92 109.58 162.83 109.31 139.28 41.48 146.18 41.48 146.28 41.76 166.08 99.06 186.13 41.48 192.66 41.48 169.01 109.58"/><polygon class="cls-1" points="239.43 109.65 201.3 109.65 201.3 41.54 238.29 41.54 238.29 48.52 207.71 48.52 207.71 71.62 234.98 71.62 234.98 78.51 207.71 78.51 207.71 102.67 239.43 102.67 239.43 109.65"/><path class="cls-1" d="M65.34,150.9,0,113.17V37.72L65.34,0l65.34,37.72v75.45ZM6.48,109.43l58.86,34,58.86-34v-68l-58.86-34-58.86,34Z"/></g></svg></a>
  </nav>
  <div id='container'>

    <div id='second' class='column'>
      
      <svg class='arrow' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 222.09"><polygon class="orange" points="301.62 172.73 0 0 0 49.36 301.62 222.09 603.23 49.36 603.23 0 301.62 172.73"/></svg>
      
      <div class='hex-box'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
          <polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
          <image class="clipped" xlink:href="/images/img2.jpg" preserveAspectRatio="xMidYMin slice"></image>
        </svg>
        <div class="hexagon">
          <h3 class='title'>Hello Something Name Year</h3>
        </div>
      </div>
      
      <div class='hex-box'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
          <polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
          <image class="clipped" xlink:href="/images/img1.jpg" preserveAspectRatio="xMidYMin slice"></image>
        </svg>
        <div class="hexagon">
          <h3 class='title'>Hello Something Name Year</h3>
        </div>
      </div>

    </div>

    <div id='first' class='column'>
      
      <div class='hex-box'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
          <polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
          <image class="clipped" xlink:href="/images/img.jpg" preserveAspectRatio="xMidYMin slice"></image>
        </svg>
        <div class="hexagon">
          <h3 class='title'>Hello Something Name Year</h3>
        </div>
      </div>

      <div class='hex-box'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
          <polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
          <image class="clipped" xlink:href="/images/img3.jpg" preserveAspectRatio="xMidYMin slice"></image>
        </svg>
        <div class="hexagon">
          <h3 class='title'>Hello Something Name Year</h3>
        </div>
      </div>

      <svg class='arrow' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 222.09"><polygon class="orange" points="301.62 49.36 0 222.09 0 172.73 301.62 0 603.23 172.73 603.23 222.09 301.62 49.36"/></svg>

    </div>
    <div id='third'>

      <svg class='arrow hidden' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 222.09"><polygon class="orange" points="301.62 172.73 0 0 0 49.36 301.62 222.09 603.23 49.36 603.23 0 301.62 172.73"/></svg> 

      <div class='hex-box lower'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
          <polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
          <image class="clipped" xlink:href="/images/img4.jpg" preserveAspectRatio="xMidYMin slice"></image>
        </svg>
        <div class="hexagon">
          <h3 class='title'>Hello Something Name Year</h3>
        </div>
      </div>

      <div class='hex-box'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
          <polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
          <image class="clipped" xlink:href="/images/img5.jpg" preserveAspectRatio="xMidYMin slice"></image>
        </svg>
        <div class="hexagon">
          <h3 class='title'>Hello Something Name Year</h3>
        </div>
      </div>

      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42"><polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/></svg>
      
      <svg class='higher' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42"><polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/></svg>
      
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42"><polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/></svg>
      
      <svg class='higher' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42"><polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/></svg>
       -->
    </div>
  <div>
  <footer></footer>
</body>
</html>