<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hive Design</title>
    <link display='block' href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto:wght@400;700;900&display=swap" as="font" type="font/woff2" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
<body>
  <!-- navigation -->
  <div id="nav" class="nav columns">
    <a href='/'><img id='logo' class='nav-child' src='/images/logo.svg'></a>
    <a href='/about' id='about' class="nav-child dark-grey-button">ABOUT US</a>
    <a href='/projects' id='work' class="nav-child dark-grey-button">PROJECTS</a>
    <a href='/contact' id='mini-connect' class="nav-child last yellow-button invisible">Let's<br> connect</a>
  </div>
<!-- contact -->
    <div id="contact-section" class="container columns rows">
      <!-- header -->
      <div id="contact-header-wrapper">
        <h1 id='contact'>Say<br>hi<span id="ve">ve</span></h1>
        <h3 class="subheader">Tell us about your next exciting project</h3>
    </div>
    <!-- contact form -->
    <div id="form-wrapper" class="center">
      <form id="form" class="body-font center" action="" method="POST" target="no-target">
        <div id="name" class="input-block">
            <p>My name is</p>
            <span class="border"><input id="name-input" type="text" placeholder="your name" required></span>
        </div>
        <div id="company" class="input-block">
            <p>I’m representing</p>
            <span class="border"><input id="company-input" type="text" placeholder="name of the company" required></span>
        </div>
        <div id="description" class="input-block">
            <p>I am looking for a team to help me with</p>
            <span class="border"><textarea id="description-input" placeholder="short project description" required></textarea>
            </span>
          </div>
        <div id="budget" class="input-block">
            <p>I have a budget of</p>
            <span class="border"><input id="budget-input" type="text" placeholder="total or per hour" required></span>
        </div>
        <div id="timeframe" class="input-block">
            <p>And a timeframe of</p>
            <span class="border"><input id="timeframe-input" type="text" placeholder="number of weeks" required></span>
        </div>
        <div id="email" class="input-block">
            <p>Reach me at</p>
            <span class="border"><input id="email-input" type="email" placeholder="your email address" required></span>
        </div>
        <div id="phone" class="input-block">
          <p>or call me on</p>
          <span class="border"><input id="phone-input" type="text" placeholder="your phone number" required></span>
      </div>
        <iframe src="about:blank" id="no-target" name="no-target" style="visibility:hidden; display:none"></iframe>
    </form>
    <svg id='form-submit' viewBox="0 0 192.74 523.53">
      <polygon id='submit' class="disabled" points="0 0, 149.91 261.76, 0 523.53, 42.83 523.53, 192.74 261.76, 42.83 0" shape-rendering="geometricPrecision"></polygon>
    </svg>
    </div>
    </div>
    <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>