<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hive Folio</title>
  <link display='block' href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;300&family=Roboto:wght@700&display=swap" as="font" type="font/woff2" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/gallery.css">
</head>
<body class='layout color__dark-theme'>
  
  <header class='layout__item layout__masthead'>
    <nav class='primary-nav color__dark-theme--background-fixed'>
      <menu class='primary-nav__list'>
        <li class='primary-nav__item primary-nav__item--first'><a href='/' class='primary-nav__item--logo'></a></li>
        <li class='primary-nav__item'><a href='/about' class='primary-nav__item--text link'>About us</a></li>
        <li class='primary-nav__item'><a href='/projects' class='primary-nav__item--text link'>Projects</a></li>
        <li class='primary-nav__item primary-nav__item--last'><a href='/contact' class='primary-nav__item--text link'>Contact</a></li>
      </menu>
    </nav>
  </header>
  <main class='layout__item layout__gallery gallery'>
  
  <section class='gallery__section gallery__section--column gallery__section--first'>
    
    <article class='gallery__card card'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <polygon class="color--highlight" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
        <image class="card__img" xlink:href="/images/gallery/img2.jpg" preserveAspectRatio="xMidYMin slice"></image>
      </svg>
      <svg class='card__info' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <a href="/project">
          <polygon class="card__info--background" points="603.23 223.22 603.23 518.2 301.62 690.93 0 518.2 0 223.22 301.62 50.49 603.23 223.22"/>
        </a>
        <text class='card__info--text subheader' dominant-baseline="middle" text-anchor="middle">
          <tspan x="50%" y="42%">Hello</tspan>
          <tspan x="50%" y="50%">Something Name</tspan>
          <tspan x="50%" y="58%">Year</tspan>
        </text> 
      </svg>
    </article>
    
    <article class='gallery__card card'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <polygon class="color--highlight" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
        <image class="card__img" xlink:href="/images/gallery/img1.jpg" preserveAspectRatio="xMidYMin slice"></image>
      </svg>
      <svg class='card__info' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <a href="/project">
          <polygon class="card__info--background" points="603.23 223.22 603.23 518.2 301.62 690.93 0 518.2 0 223.22 301.62 50.49 603.23 223.22"/>
        </a>
        <text class='card__info--text subheader' dominant-baseline="middle" text-anchor="middle">
          <tspan x="50%" y="42%">Hello</tspan>
          <tspan x="50%" y="50%">Something Name</tspan>
          <tspan x="50%" y="58%">Year</tspan>
        </text> 
      </svg>
    </article>

    <article class='gallery__card card'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <polygon class="color--highlight" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
        <image class="card__img" xlink:href="/images/gallery/img1.jpg" preserveAspectRatio="xMidYMin slice"></image>
      </svg>
      <svg class='card__info' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <a href="/project">
          <polygon class="card__info--background" points="603.23 223.22 603.23 518.2 301.62 690.93 0 518.2 0 223.22 301.62 50.49 603.23 223.22"/>
        </a>
        <text class='card__info--text subheader' dominant-baseline="middle" text-anchor="middle">
          <tspan x="50%" y="42%">Hello</tspan>
          <tspan x="50%" y="50%">Something Name</tspan>
          <tspan x="50%" y="58%">Year</tspan>
        </text> 
      </svg>
    </article>
  
  </section>


  <section class='gallery__section gallery__section--column gallery__section--second'>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 523.65 300.17">
      <text class="gallery__title subheader" dominant-baseline="middle" text-anchor="middle">
        <tspan x="50%" y="40%">Worked</tspan>
        <tspan x="50%" y="50%">on</tspan>
      </text>
      <polygon class="color--highlight" points="261.83 257.33 0 107.38 0 150.23 261.83 300.17 523.65 150.23 523.65 107.38 261.83 257.33"/>
    </svg>

    <article class='gallery__card card'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <polygon class="color--highlight" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
        <image class="card__img" xlink:href="/images/gallery/img.jpg" preserveAspectRatio="xMidYMin slice"></image>
      </svg>
      <svg class='card__info' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <a href="/project">
          <polygon class="card__info--background" points="603.23 223.22 603.23 518.2 301.62 690.93 0 518.2 0 223.22 301.62 50.49 603.23 223.22"/>
        </a>
        <text class='card__info--text subheader' dominant-baseline="middle" text-anchor="middle">
          <tspan x="50%" y="42%">Hello</tspan>
          <tspan x="50%" y="50%">Something Name</tspan>
          <tspan x="50%" y="58%">Year</tspan>
        </text> 
      </svg>
    </article>

    <article class='gallery__card card'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <polygon class="color--highlight" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
        <image class="card__img" xlink:href="/images/gallery/img3.jpg" preserveAspectRatio="xMidYMin slice"></image>
      </svg>
      <svg class='card__info' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <a href="/project">
          <polygon class="card__info--background" points="603.23 223.22 603.23 518.2 301.62 690.93 0 518.2 0 223.22 301.62 50.49 603.23 223.22"/>
        </a>
        <text class='card__info--text subheader' dominant-baseline="middle" text-anchor="middle">
          <tspan x="50%" y="42%">Hello</tspan>
          <tspan x="50%" y="50%">Something Name</tspan>
          <tspan x="50%" y="58%">Year</tspan>
        </text> 
      </svg>
    </article>

  </section>

  
  <section class='gallery__section gallery__section--fluid gallery__section--third'>

    <article class='gallery__card card section-fluid__item'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <polygon class="color--highlight" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
        <image class="card__img" xlink:href="/images/gallery/img4.jpg" preserveAspectRatio="xMidYMin slice"></image>
      </svg>
      <svg class='card__info' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <a href="/project">
          <polygon class="card__info--background" points="603.23 223.22 603.23 518.2 301.62 690.93 0 518.2 0 223.22 301.62 50.49 603.23 223.22"/>
        </a>
        <text class='card__info--text subheader' dominant-baseline="middle" text-anchor="middle">
          <tspan x="50%" y="42%">Hello</tspan>
          <tspan x="50%" y="50%">Something Name</tspan>
          <tspan x="50%" y="58%">Year</tspan>
        </text> 
      </svg>
    </article>

    <article class='gallery__card card section-fluid__item section-fluid__item--higher-while-odd'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <polygon class="color--highlight" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
        <image class="card__img" xlink:href="/images/gallery/img5.jpg" preserveAspectRatio="xMidYMin slice"></image>
      </svg>
      <svg class='card__info' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <a href="/project">
          <polygon class="card__info--background" points="603.23 223.22 603.23 518.2 301.62 690.93 0 518.2 0 223.22 301.62 50.49 603.23 223.22"/>
        </a>
        <text class='card__info--text subheader' dominant-baseline="middle" text-anchor="middle">
          <tspan x="50%" y="42%">Hello</tspan>
          <tspan x="50%" y="50%">Something Name</tspan>
          <tspan x="50%" y="58%">Year</tspan>
        </text> 
      </svg>
      </article>

      <svg class='section-fluid__filler--higher-while-odd section-fluid__item' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 222.09"><polygon class="color--highlight " points="301.62 49.36 0 222.09 0 172.73 301.62 0 603.23 172.73 603.23 222.09 301.62 49.36"/></svg> 
    
    </section>
  </main>
  <footer class='layout__item bottom-info'></footer>
  <script type="text/javascript" src="/js/gallery.js"></script>
</body>
</html>