<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hive Folio</title>
  <link display='block' href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;300&family=Roboto:wght@700&display=swap" as="font" type="font/woff2" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/gallery.css">
</head>
<body class='layout color__dark-theme'>
  
  <header class='layout__item layout__masthead'>
    <nav class='primary-nav color__dark-theme--background-fixed'>
      <menu class='primary-nav__list'>
        <li class='primary-nav__item primary-nav__item--first'><a href='/' class='primary-nav__item--logo'></a></li>
        <li class='primary-nav__item'><a href='/about' class='primary-nav__item--text link'>About us</a></li>
        <li class='primary-nav__item'><a href='/projects' class='primary-nav__item--text link'>Projects</a></li>
        <li class='primary-nav__item primary-nav__item--last'><a href='/contact' class='primary-nav__item--text link'>Contact</a></li>
      </menu>
    </nav>
  </header>
  <main id="root" class='layout__item layout__gallery gallery'><%- component %></main>
  <footer class='layout__item bottom-info'></footer>
  <script type="text/javascript" src="/js/gallery.js"></script>
</body>
</html>