<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <card__subheading>Hive Folio</card__subheading>
  <link display='block' href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;300&family=Roboto:wght@700&display=swap" as="font" type="font/woff2" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/gallery.css">
</head>
<body class='layout box--dark-theme'>
  
  <header class='layout__item layout__masthead'>
    <nav class='primary-nav primary-nav--dark-theme'>
      <menu class='primary-nav__list'>
        <li class='primary-nav__item primary-nav__item--first'><a href='/' class='primary-nav__item--logo'></a></li>
        <li class='primary-nav__item'><a href='/about' class='primary-nav__item--text link'>About us</a></li>
        <li class='primary-nav__item'><a href='/projects' class='primary-nav__item--text link'>Projects</a></li>
        <li class='primary-nav__item primary-nav__item--last'><a href='/contact' class='primary-nav__item--text link'>Contact</a></li>
      </menu>
    </nav>
  </header>
  <main class='layout__item layout__gallery gallery'>
    
  <section id='second' class='column'>
    
    <svg class='arrow' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 222.09"><polygon class="orange" points="301.62 172.73 0 0 0 49.36 301.62 222.09 603.23 49.36 603.23 0 301.62 172.73"/></svg>
    
    <div class='gallery__card'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
        <image class="clipped" xlink:href="/images/gallery/img2.jpg" preserveAspectRatio="xMidYMin slice"></image>
      </svg>
      <div class="hexagon">
        <h3 class='card__subheading subheader'>Hello Something Name Year</h3>
      </div>
    </div>
    
    <div class='gallery__card'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
        <image class="clipped" xlink:href="/images/gallery/img1.jpg" preserveAspectRatio="xMidYMin slice"></image>
      </svg>
      <div class="hexagon">
        <h3 class='card__subheading'>Hello Something Name Year</h3>
      </div>
    </div>

  </section>

  <!-- <section id='first' class='column'>
    
    <div class='gallery__card'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
        <image class="clipped" xlink:href="/images/gallery/img.jpg" preserveAspectRatio="xMidYMin slice"></image>
      </svg>
      <div class="hexagon">
        <h3 class='card__subheading'>Hello Something Name Year</h3>
      </div>
    </div>

    <div class='gallery__card'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
        <image class="clipped" xlink:href="/images/gallery/img3.jpg" preserveAspectRatio="xMidYMin slice"></image>
      </svg>
      <div class="hexagon">
        <h3 class='card__subheading'>Hello Something Name Year</h3>
      </div>
    </div>

    <svg class='arrow' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 222.09"><polygon class="orange" points="301.62 49.36 0 222.09 0 172.73 301.62 0 603.23 172.73 603.23 222.09 301.62 49.36"/></svg>

  </section>
  <section id='third'>

    <svg class='arrow hidden' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 222.09"><polygon class="orange" points="301.62 172.73 0 0 0 49.36 301.62 222.09 603.23 49.36 603.23 0 301.62 172.73"/></svg> 

    <div class='gallery__card lower'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
        <image class="clipped" xlink:href="/images/gallery/img4.jpg" preserveAspectRatio="xMidYMin slice"></image>
      </svg>
      <div class="hexagon">
        <h3 class='card__subheading'>Hello Something Name Year</h3>
      </div>
    </div>

    <div class='gallery__card'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42">
        <polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/>
        <image class="clipped" xlink:href="/images/gallery/img5.jpg" preserveAspectRatio="xMidYMin slice"></image>
      </svg>
      <div class="hexagon">
        <h3 class='card__subheading'>Hello Something Name Year</h3>
      </div>
    </section> -->

    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42"><polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/></svg>
    
    <svg class='higher' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42"><polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/></svg>
    
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42"><polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/></svg>
    
    <svg class='higher' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.23 741.42"><polygon class="orange" points="0 172.73 301.62 0 603.23 172.73 603.23 568.69 301.62 741.42 0 568.69 0 172.73"/></svg>
      -->
  <!-- </div> -->
  </main>
  <footer class='layout__item bottom-info'></footer>
</body>
</html>