<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hive Folio</title>
  <link display='block' href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;300&family=Roboto:wght@700&display=swap" as="font" type="font/woff2" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <!-- navigation -->
  <nav>
    <a href='/about'>ABOUT US</a>
    <a href='/projects'>PROJECTS</a>
  </nav>
  <!-- logo display -->
  <header>
    <img id='logo' src='/images/logo.svg'>
  </header>
  <!-- subheader and contact button -->
  <h3>M&E and Environmental<br>
    Engeneering Design</h3>
  <a href="/contact" class="contact-button">LET'S CONNECT</a>
  <!-- hive graphic -->
  <div id="graphic">
    <img src="/images/hive.svg" loading='eager'>
  </div>
  <footer></footer>
</body>
</html>