<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hive Folio</title>
  <link display='block' href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;300&family=Roboto:wght@700&display=swap" as="font" type="font/woff2" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header>
    <nav>
      <menu>
        <li><a href='/home' id='logo-nav'></a></li>
        <li><a href='/about'>About us</a></li>
        <li><a href='/projects'>Projects</a></li>
        <li><a href='/contact'>Contact</a></li>
      </menu>
    </nav>
  </header>
  
  <figure id='hive-illustration'>
    <img src='/images/hive-illustration.svg' alt='An abstract illustration of a construction designed to look like a beehive.'>
  </figure>
  
  <main>
    <img id='logo' src='/images/logo.svg' alt='Logo of the company name'>
    <h1>M&E and Environmental<br>
      Engeneering Design</h1>
  </main>
  <a href="/contact" class="button">Let's connect</a>
  <footer></footer>
</body>
</html>