/**
 * This is a stylesheet for the gallery page- gallery.html
 * It only includes styles for the elements and layout
 * specific to this subpage. It's depandable on styles.css
 */

/*------------------------------------*\
  #GALLERY-PAGE-LAYOUT
\*------------------------------------*/

/**
 * Page layout has only 3 blocks: masthead is only slightly
 * bigger than primary-nav to allow for some space between the
 * primary-nav and gallery, gallery is as big as it's content
 * and footer.
 * 
 * Note- primary-nav, bottom-info (footer) height and both masthead
 * and gallery margins are set in the style.css.
 */

.layout {
  display: block;
  overscroll-behavior: contain;
}

.layout {
  display: flex;
  flex-direction: column;
}

.layout__masthead {
  height: 15vh;
  flex: 0 0 15vh;
}

.layout__gallery {
  height: max-content;
}

svg {
  height: 58.2581vh;
  width: 47.4vh;
}

div,
section {
  display: flex;
  height: max-content;
}

#container {
  /* grid-column: 1 / -1;
  grid-row: 2 / 3;
  justify-self: center; */
  flex-flow: row wrap;
  width: 142.2vh;
}

#second,
#third {
  margin-top: 9.7304vh;
}

#third,
.column {
  flex-direction: column;
}

.orange {
  fill: #ff9d00;
}

.arrow {
  height: 17.4509vh;
}

.yellow {
  fill: yellow;
}

.clipped {
  position: absolute;
  left: 0;
  clip-path: polygon(
    603.23px 223.22px,
    603.23px 518.2px,
    301.62px 690.93px,
    0px 518.2px,
    0px 223.22px,
    301.62px 50.49px,
    603.23px 223.22px
  );

  width: 100%;
}

.hex-box {
  position: relative;
  top: 0;
  left: 0;
  margin-right: -47.4vh;
}

.hexagon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 17.48vh;
  right: 47.4vh;
  text-align: center;
  background-color: transparent;
  color: transparent;
  height: 23.3vh;
  width: 47.4vh;
  cursor: pointer;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 23.7vh solid transparent;
  border-right: 23.7vh solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 13.5727vh solid transparent;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 13.5727vh solid transparent;
}

.hexagon:hover {
  background-color: rgba(6, 70, 252, 0.65);
  color: white;
}

.hexagon:hover::before {
  border-bottom: 13.5727vh solid rgba(6, 70, 252, 0.65);
}

.hexagon:hover::after {
  border-top: 13.5727vh solid rgba(6, 70, 252, 0.65);
}

.hexagon h3 {
  height: fit-content;
  width: 20vh;
}

@media only screen and (min-device-width: 540px) and (max-device-width: 1366px) and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 16/10) {
  body {
    grid-template-rows: auto;
  }

  #container {
    grid-column: 3 / -1;
    justify-self: start;
  }

  #container,
  #third {
    width: 94.9vh;
  }

  #second {
    margin-top: calc(7.9212vh * 1.229);
  }

  #third {
    flex-flow: row wrap;
  }

  .lower {
    margin-top: calc(22.04vh * 1.229);
  }

  #third,
  .higher {
    margin-top: calc(22.04vh * -1.229);
  }

  .hidden {
    display: none;
  }
}
