/**
 * This is a stylesheet for the gallery page- gallery.html
 * It only includes styles for the elements and layout
 * specific to this subpage. It's depandable on styles.css.
 * Starts with mobile portrait view.
 */

/*------------------------------------*\
  #PAGE-LAYOUT
\*------------------------------------*/

/**
 * Page layout has only 3 blocks: masthead is only slightly
 * bigger than primary-nav to allow for some space between the
 * primary-nav and gallery, gallery is as big as it's content
 * and footer.
 * 
 * Note- primary-nav, bottom-info (footer) height and both masthead
 * and gallery margins are set in the style.css.
 */

.layout {
  display: flex;
  flex-direction: column;
}

.layout__masthead {
  height: 15vh;
  flex: 0 0 15vh;
}

.layout__gallery {
  height: max-content;
}

/*------------------------------------*\
  #GALLERY-LAYOUT
\*------------------------------------*/

/**
 * Gallery is organized into 3 sections, first section that gets filled is a 
 * middle section, then left and right get's filled last.
 * Layout: 
 ** mobile-portrait: 
 *** no fillers visible, all sections lined up as single column
 *** each column and cards within fill 100% of the available space
 *
 ** wide screens- mobile-landscape, tablet both orientations: 
 *** two columns are side by side, third section is display as a row wrap to visually
 *** fill the spaces of the 2 columns. Columns width is dependant on the card 
 *** height, as the first card of the middle column (2nd section) needs to
 *** be fully visible in the viewport. 
 *** First and last elements are fillers.
 *
 ** very wide screens - desktop:
 *** each section is displayed as a column, which are organised side by side
 *** with first cards of side columns being fully visible in the viewport.
 *
 * Note: each card's width == 81.362% * height && height == 122.9% * width
 */

.gallery {
  display: flex;
  flex-flow: row wrap;
}

.gallery__section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gallery__filler {
  display: none;
}

.gallery__card {
  display: flex;
  width: 100%;
}

@media only screen and (orientation: landscape) {
  /**
 * 2 columns layout:
 * for the 1st card of the middle section to be fully visible in the viewport
 * it has to have a height of 100vh - masthead height. Gallery then needs to
 * have a width of card's height * 81.362% times 2 columns. First 2 columns then
 * have width changed to 50% and last section becomes a row.
 */

  .gallery {
    width: calc(85vh * 0.81362 * 2);
    margin: 0 auto;
  }

  .gallery__section--column {
    width: 50%;
  }

  .gallery__section--fluid {
    flex-flow: row wrap;
  }

  /**
 * Because last section still has 100% width of gallery all elements inside
 * need to have width 50% of the section to appear like they are part of the
 * 2 columns.
 */

  .section-fluid__item {
    width: 50%;
  }

  /**
 * For visual composition first section needs to be lowered by 20.528% of it's
 * own width (which is 50% of it's parent).
 * Every item on the right in the last section needs to be moved higher by 
 * that 20.528% + a height of the filler which is equal to 36.815% of the section
 * width.
 */

  .gallery__section--first {
    margin-top: calc(20.528% / 2);
  }

  .section-fluid__item--higher {
    margin-top: calc(calc(20.528% + 36.815%) * -1);
  }

  /**
 * First and last fillers are now visible while last filler needs to be on
 * right if there's an equal num of cards
 */

  .gallery__filler--edges {
    display: block;
  }

  /**
 * The margin value comes from dividing filler's height by 2 and adding 20.528
 * of it's width.
 */
  .gallery__filler--right {
    margin-top: calc(calc(calc(36.815% / 2) + 20.528%) * -1);
    margin-left: auto;
  }
}
