/**
 * This is a stylesheet for the landing page- index.html
 * It only includes styles for the elements and layout
 * specific to this subpage. It's depandable on styles.css
 */

/*------------------------------------*\
  #LANDING-PAGE-LAYOUT
\*------------------------------------*/

/**
 * Landing page cannot be scrollable and that's why flex
 * column is used as display. Masthead (header) takes up 
 * 50% of screen height or 30% if screen ratio is bigger
 * than 4/3 (wide screens). Content (main) takes up all the
 * remaining space using flex grow.
 * 
 * Note- bottom-info (footer) height and both masthead
 * and content margins are set in the style.css.
 */

.layout {
  display: flex;
  flex-direction: column;
}

.layout__masthead {
  height: 50%;
}

.layout__content {
  flex-grow: 2;
}

/*------------------------------------*\
  #HIVE-ILLUSTRATION
\*------------------------------------*/

/**
 * While in mobile portrait mode img is bigger (more space
 * to fill) and lower (due to primary-nav being on top).
 * In other screen sizes and orientations img needs to be
 * smaller, painted above the primary-nav (z-index higher)
 * and due to this placed higher.
 * 
 * When it's displayed on tablet, img needs to be cropped 
 * from the right due to limited space (aspect ratio close
 * to 1). On other devices right property is same as layout
 * margin.
 */

.background-image {
  width: 75vmin;
  position: absolute;
  top: -6.56vmin;
  right: 4%;
}

/*------------------------------------*\
  #MAIN-CONTENT
\*------------------------------------*/

/**
 * Main content display is set to grid. Columns and rows
 * depend on the content_heading size. For portrait it's
 * 43.75vw width and 27.79vw height, for wide landscape it's
 * 55.88vh width and 35.49vh height. Heading's height equals
 * to 63.52% of it's width. 
 * Columns:
 ** 1st col is 58.24% heading's width, 
 ** 2nd is remaining 41.76%
 * - this way subheading lines up with heading's 'V'
 ** 3rd is the rest of screen width
 *
 * Rows:
 ** 1st row equals 83.37% of heading's height
 * - visually it creates same white space between the logo 
 * and 2nd row as between 'H' and hexagon
 ** 2nd row is remaining 16.63 % of heading
 ** 3rd row is rest of the content's height
 */

.content {
  display: grid;
  grid-template-columns: 25.48vmin 18.27vmin 1fr;
  grid-template-rows: 23.17vmin 4.62vmin 1fr;
}

.content__heading {
  grid-area: 1 / 1 / 3 / 3;
}

/**
 * Subheading should line up with heading's 'V' from left
 * and 2nd row from top. Due to line height's extra space
 * use margin-top to line up subheading's letters with 
 * the row.
 */

.content__subheading {
  grid-area: 2 / 2 / 4 / 4;
  margin-top: -1.5vmin;
}

/**
 * Lower button by 50% of bottom-info height (in style.css), 
 * so it appears in the middle between heading and bottom
 * of the screen
 */

.content__btn {
  grid-area: 3 / 1 / 4 / 4;
  justify-self: center;
  align-self: center;
  margin-top: 2.5vmin;
}

/*------------------------------------*\
  #MAIN-CONTENT
\*------------------------------------*/

/*------------------------------------*\
  #TABLET-VIEW
\*------------------------------------*/

@media only screen and (min-aspect-ratio: 5/8) {
  /**
 * Background image should extend behind the page when on
 * tablet to allow other elements to fit on the page.
 */

  .background-image {
    width: 68.32vmin;
    top: -12.06vmin;
    right: -6.16vw;
  }
}

@media only screen and (min-aspect-ratio: 11/9) {
  /**
 * When on landscape orientation masthead should take less
 * space so now bigger heading can appear to be in the 
 * middle of the screen.
 * 
 */

  .layout__masthead {
    height: 30%;
  }

  .content {
    grid-template-columns: 32.54vmin 23.34vmin 1fr;
    grid-template-rows: 29.59vmin 5.9vmin 1fr;
  }

  .background-image {
    z-index: 50;
  }
}

/*------------------------------------*\
  #WIDE-SCREENS
\*------------------------------------*/

@media only screen and (min-aspect-ratio: 13/9) {
  /**
 * With wider screens background-image right position
 * should be same as layout-items margin.
 */

  .background-image {
    right: 4%;
  }
}

/*------------------------------------*\
  #VERY-WIDE-SCREENS
\*------------------------------------*/

@media only screen and (min-aspect-ratio: 7/4) {
  /**
 * With very wide screens heading needs to be brought
 * closer to the center for composition purpose. This 
 * margin allows it to be line up with the first text 
 * navigation link. Margin equals to layout margin + 
 * primary-nav__item--logo width + primary-nav__item 
 * padding (minus 0.5% for visual effect).
 */

  .layout__content {
    margin: 0 calc(10.5% + 5vmin);
  }

  .background-image {
    right: 5%;
  }
}
