.box--dark-theme {
  color: rgba(255, 255, 255, 0.94);
  background-color: #222;
}

.layout {
  display: flex;
  flex-direction: column;
}

.masthead {
  height: 45%;
}

.content {
  flex-grow: 2;
  background-color: tomato;
}

@media only screen and (orientation: landscape) {
  .masthead {
    height: 30%;
  }
}
