/**
 * This is a stylesheet for the landing page- index.html
 * It only includes styles for the elements and layout
 * specific to this subpage. It's depandable on styles.css
 */

/*------------------------------------*\
  #LANDING-PAGE-LAYOUT
\*------------------------------------*/

/**
 * Landing page cannot be scrollable and that's why flex
 * column is used as display. Masthead (header) takes up 
 * 50% of screen height or 30% if screen ratio is bigger
 * than 4/3 (wide screens). Content (main) takes up all the
 * remaining space using flex grow.
 * 
 * Note- bottom-info (footer) height and both masthead
 * and content margins are set in the style.css.
 */

.layout {
  display: flex;
  flex-direction: column;
}

.layout__masthead {
  height: 50%;
}

.layout__content {
  flex-grow: 2;
}

/*------------------------------------*\
  #HIVE-ILLUSTRATION
\*------------------------------------*/

/**
 * While in mobile portrait mode img is bigger (more space
 * to fill) and lower (due to primary-nav being on top).
 * In other screen sizes and orientations img needs to be
 * smaller, painted above the primary-nav (z-index higher)
 * and due to this placed higher.
 * 
 * When it's displayed on tablet, img needs to be cropped 
 * from the right due to limited space (aspect ratio close
 * to 1). On other devices right property is same as layout
 * margin.
 */

.background-image {
  width: 75vmin;
  position: absolute;
  top: -6.56vmin;
  right: 4%;
}

/*------------------------------------*\
  #MAIN-CONTENT
\*------------------------------------*/

/**
 * Main content display is set to grid. Columns and rows
 * depend on the content_heading size. For portrait it's
 * 43.75vw width and 27.79vw height, for wide landscape it's
 * 59.44vh width and 37.46vh height.  
 * Columns:
 ** 1st col is 58.24% heading's width, 
 ** 2nd is remaining 41.76%
 * - this way subheading lines up with heading's 'V'
 ** 3rd is the rest of screen width
 *
 * Rows:
 ** 1st row equals 83.37% of heading's height
 * - visually it creates same white space between the logo 
 * and 2nd row as between 'H' and hexagon
 ** 2nd row is remaining 16.63 % of heading
 ** 3rd row is rest of the content's height
 */

.content {
  display: grid;
  grid-template-columns: 25.48vmin 18.27vmin 1fr;
  grid-template-rows: 23.17vmin 4.62vmin 1fr;
}

.content__heading {
  grid-area: 1 / 1 / 3 / 3;
}

.content__subheading {
  grid-area: 2 / 2 / 4 / 4;
}

.content__btn {
  grid-area: 3 / 1 / 4 / 4;
  justify-self: center;
  align-self: center;
}

@media only screen and (min-aspect-ratio: 5/8) {
  .background-image {
    width: 68.32vmin;
    top: -12.06vmin;
    right: -6.16vw;
  }
}

@media only screen and (min-aspect-ratio: 11/9) {
  .layout__masthead {
    height: 30%;
  }

  .content {
    grid-template-columns: 34.68vmin 24.76vmin 1fr;
    grid-template-rows: 31.23vmin 6.23vmin 1fr;
  }

  .content__btn {
    margin-top: 0;
  }

  .background-image {
    z-index: 50;
  }
}

@media only screen and (min-aspect-ratio: 8/5) {
  .layout__content {
    margin: 0 calc(10% + 5vmin);
  }

  .background-image {
    right: 5%;
  }
}
