* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 1vw;
  background-color: #222;
  color: white;
}

html,
body {
  height: 100%;
}

body {
  margin: 0 4%;
}

body,
nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 0px;
  margin: 0 4%;
}

a,
h3 {
  letter-spacing: 0.11em;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

nav {
  grid-template-rows: 1em 4em 1em;
  position: fixed;
  left: 0;
  background-color: rgba(34, 34, 34, 0.6);
  height: 6em;
  width: 92%;
}

nav a {
  grid-row: 2 / 3;
  align-self: center;
  height: 1rem;
  padding: 20px 0;
}

nav a:nth-child(1)::after,
nav a:nth-child(2)::after {
  content: "";
  display: block;
  background: #0646fc;
  width: 0;
  height: 0.2em;
  margin-top: 5px;
  margin-left: -5px;
  transition: width 0.5s;
}

nav a:nth-child(1):hover::after,
nav a:nth-child(2):hover::after {
  width: 110%;
}

nav a:first-child {
  grid-column: 2 / 4;
  justify-self: start;
}

nav a:nth-child(2) {
  grid-column: 4 / 6;
  justify-self: start;
}

nav a:nth-child(3) {
  grid-column: 1 / -1;
  justify-self: center;
}

nav a:nth-child(4) {
  grid-column: -2 / -1;
  justify-self: end;
  height: max-content;
}

nav a svg {
  height: fit-content;
  width: 100%;
}

#logo {
  fill: white;
}

.contact-button {
  background-color: #4859ff;
  text-align: center;
  width: fit-content;
  padding: 1.2em;
}

.contact-button:hover,
.contact-button:active {
  background-color: #0646fc;
  fill: #0646fc;
}

@media only screen and (min-device-width: 540px) and (max-device-width: 1366px) and (min-aspect-ratio: 10/16) and (max-aspect-ratio: 16/10) {
  html {
    font-size: 18px;
  }

  body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 16px;
  }

  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 20%;
    margin: 0;
    margin-top: 5vh;
  }

  nav a {
    padding: 3em 0;
  }

  nav a svg {
    width: 50%;
  }

  .contact-button {
    margin-top: 3em;
  }
}

@media only screen and (max-device-width: 1150px) and (min-aspect-ratio: 17/10) {
  html {
    font-size: 15px;
  }

  body {
    grid-column-gap: 8px;
    margin: 0;
  }

  nav {
    grid-column: 2 / 6;
    grid-column-gap: 8px;
    margin-top: 15px;
  }

  nav a {
    height: 1em;
    padding: 10px 0;
  }

  nav a::after {
    height: 2px;
    margin-top: 2px;
    margin-left: -2px;
  }

  .contact-button {
    padding: 1em;
  }
}

@media only screen and (max-device-width: 539px) {
  html {
    font-size: 15px;
  }

  body {
    grid-column-gap: 0;
    margin: 0;
  }

  nav {
    grid-column: 2 / -2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;
    padding: 0 5vw;
  }

  nav a {
    padding: 0;
  }
}
